%meta(charset="UTF-8")
%title React JS Tutorial

%meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
%meta(http-equiv="X-UA-Compatible" content="IE=edge")

%meta(name="description" content="Just a Toot")
%meta(name="keywords" content="")
%meta(http-equiv="content-language" content="en")
%meta(property="og:site_name" content="")

%meta(property="og:type" content="website")
%meta(property="og:title" content="")
%meta(property="og:url" content="")
%meta( property="og:image" content="")
%meta(property="og:description" content="" )

<!-- @if GULP_ENV='dev' -->
%script( src="http://localhost:35729/livereload.js" )
<!-- @endif -->

%link(href="http://fonts.googleapis.com/css?family=Roboto:500,400" rel="stylesheet" type="text/css")
%link(href="<!-- @echo CONFIG.cdn -->/css/main.css" rel="stylesheet")
