%script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react.js")
%script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react-dom.js")
%script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js")
%script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
%script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js")

%script(type="text/babel" src="<!-- @echo CONFIG.cdn -->/js/base.js")

%script(type="text/babel")
  $(function(){
    ApplicationBase.views.index.init()
  });
  ReactDOM.render(
    <ReactBase.components.CommentBox
      url="/api.php/comments"
      pollInterval={2000} />,
    document.getElementById('content')
  )

