header {
  padding: 5rem 0 6rem;

  .headline {
    margin-bottom: 5.5rem;
  }

  .tagline {
    font-size: 2.6rem;
    line-height: 1.5;
    max-width: 55rem;
    margin: 0 auto;
    text-align: center;
  }


  @media #{$tablet} {
  }

  @media #{$phone} {
    padding: 4rem 0 2rem;
  }
}
