!!!5
%html(lang="en")
  %head
    //=include partials/_head.haml

  %body.index
    //=include partials/_header.haml

    //=include views/_index.haml

    //=include partials/_footer.haml

    //=include partials/_scripts.haml
